<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GymLedger</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/growl")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://kit.fontawesome.com/045efef042.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <button class="hamburger" onclick="toggleSidebar()">
        <i class="fas fa-bars"></i>
    </button>

    <div class="sidebar" id="sidebar">
        <a href="@Url.Action("Index", "Home")" title="Home">
            <i class="fas fa-home"></i>
        </a>
        <a href="@Url.Action("Home", "Ledger")" title="Ledger">
            <i class="fas fa-book"></i>
        </a>
        @{
            var authCookie = HttpContext.Current.Request.Cookies[FormsAuthentication.FormsCookieName];

            if (authCookie != null)
            {
                <a href="@Url.Action("Index", "Profile")" title="Profile">
                    <i class="fas fa-user"></i>
                </a>
                <a href="@Url.Action("Logout", "Account")" title="Logout">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            }
            else
            {
                <a href="@Url.Action("Login", "Account")" title="Login / Register">
                    <i class="fas fa-user"></i>
                </a>
            }
        }
    </div>

    <div class="content">
        <div class="text-center m-2">
            <p class="h2">@ViewBag.Title</p>
        </div>
        <hr />
        <div class="body-content mt-5">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - GymLedger</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/account")
    @Scripts.Render("~/bundles/growl")
    @Scripts.Render("~/bundles/site")
    @RenderSection("scripts", required: false)
</body>
</html>
