@model GymLedger.Views.Areas.Ledger.ExerciseDetailView

<div class="modal fade" id="exerciseModal" tabindex="-1" aria-labelledby="exerciseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exerciseModalLabel">Exercise Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <small>You are able to edit the exercise below</small>
            @using (Html.BeginForm("EditExercise", "Ledger", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "editExerciseForm" }))
            {
                <div class="modal-body">
                    @Html.HiddenFor(m => m.UniqueId)
                    <div>
                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>

                    <p>Date Added: @Model.DateAdded</p>
                </div>
                <div class="modal-footer">
                    <a href="@Url.Action("ExerciseDetails", "Ledger", new { uniqueId = Model.UniqueId })" class="btn btn-info me-auto">
                        <i class="fa-solid fa-arrow-right"></i> Go to Exercise
                    </a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            }
            @using (Html.BeginForm("DeleteExercise", "Ledger", FormMethod.Post, new { id = "deleteExerciseForm" }))
            {
                @Html.HiddenFor(m => m.UniqueId)
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">
                        <i class="fa-solid fa-trash fa-lg"></i> Delete Exercise
                    </button>
                </div>
            }
        </div>
    </div>
</div>
