
@{
    ViewBag.Title = "Exercises";
}

<div class="container px-0 mt-2">
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title text-center mb-3">Options</h5>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="@Url.Action("Sessions", "Ledger")" class="text-decoration-none"><i class="fa-solid fa-dumbbell"></i> View your Sessions</a>
                </li>
                <li class="list-group-item">
                    <a href="@Url.Action("OneRepMax", "Ledger")" class="text-decoration-none"><i class="fa-solid fa-bars-progress"></i> View your One Rep Maxes</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container px-0 mt-4">
    <div class="card card-body">

        <table class="table bootTable"
               id="exerciseTable"
               data-toggle="table"
               data-url="@Url.Action("GetExercises", "Ledger")"
               data-pagination="true"
               data-search="true"
               data-click-to-select="true"
               data-toolbar-align="left"
               data-show-refresh="true"
               data-toolbar="#exerciseToolbar"
               data-cache="false"
               data-show-columns="true"
               data-mobile-responsive="true"
               data-page-list="[10, 25, 50, 100, all]"
               data-side-pagination="client"
               data-query-params="queryParams"
               @*           data-sort-name="DisplayOrder"*@
               data-sort-order="asc"
               data-unique-id="UniqueId">
            <thead>
                <tr>
                    <th data-sortable="true" data-field="Name">Name</th>
                    <th data-sortable="true" data-field="DateAddedAsString">Date Added</th>
                    <th data-sortable="false" data-visible="false" data-field="UniqueId">UniqueId</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div id="exerciseToolbar">
    <button class="btn btn-light" id="addExercise" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add an Exercise"><a><i class="fa-solid fa-plus fa-lg text-primary"></i></a></button>
    <button class="btn btn-light" id="downloadAllExercises" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Download Exercises as CSV"><a><i class="fa-solid fa-download text-primary"></i></a></button>
</div>

<div id="exerciseTableContainer" 
     data-url="@Url.Action("GetExerciseDetails", "Ledger")">
</div>

<div id="addExerciseContainer"
     data-url="@Url.Action("AddExercisePartial", "Ledger")">
</div>

@Html.Hidden("AddExerciseUrl", Url.Action("AddExercise", "Ledger"))