
@{
    ViewBag.Title = "Ledger";
}


<ul>
    <li>
        <a href="@Url.Action("AddExercise", "Ledger")">Add Exercise</a>
    </li>
    <li>
        <a href="@Url.Action("Exercises", "Ledger")">View your Exercises</a>
    </li>
    <li>
        <a href="@Url.Action("AddSession", "Ledger")">Add Session</a>
    </li>
    <li>
        <a href="@Url.Action("Sessions", "Ledger")">View your Sessions</a>
    </li>
</ul>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-4">
            <canvas id="exercisesPieChart"></canvas>
        </div>
        <div class="col-12 col-md-4">
            <canvas id="sessionsLineChart"></canvas>
        </div>
        <div class="col-12 col-md-4">
            <canvas id="exercisesProgressBarChart"></canvas>
        </div>
    </div>
</div>

<!-- store URL for get exercises LedgerControlerr method -->
<div id="chartDataUrl" data-url="@Url.Action("GetExercisesPiechart", "Ledger")" style="display:none;"></div>
<div id="sessionDataUrl" data-url="@Url.Action("GetSessionsLinechart", "Ledger")" style="display:none;"></div>