
@{
    ViewBag.Title = "Ledger";
}

<!-- Container for options for ledger -->
<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title text-center mb-3">Options</h5>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="@Url.Action("AddExercise", "Ledger")" class="text-decoration-none"><i class="fa-solid fa-plus"></i> Add Exercise</a>
                </li>
                <li class="list-group-item">
                    <a href="@Url.Action("Exercises", "Ledger")" class="text-decoration-none"><i class="fa-regular fa-clipboard"></i> View your Exercises</a>
                </li>
                <li class="list-group-item">
                    <a href="@Url.Action("AddSession", "Ledger")" class="text-decoration-none"><i class="fa-solid fa-plus"></i> Add Session</a>
                </li>
                <li class="list-group-item">
                    <a href="@Url.Action("Sessions", "Ledger")" class="text-decoration-none"><i class="fa-solid fa-dumbbell"></i> View your Sessions</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <!-- Exercises Pie Chart Card -->
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-header">
                    Exercises Pie Chart
                </div>
                <div class="card-body justify-content-center">
                    <canvas id="exercisesPieChart"></canvas>
                </div>
                <div class="card-footer">
                    <div class="col-md-12 mb-3">
                        <label for="startDate">Start Date:</label>
                        <input type="date" id="startDate" class="form-control">
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="endDate">End Date:</label>
                        <input type="date" id="endDate" class="form-control">
                    </div>
                    <div class="col-md-12">
                        <button id="runReportExercises" class="btn btn-primary">Run Report</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sessions Line Chart Card-->
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-header">Sessions Line Chart</div>
                <div class="card-body justify-content-center">
                    <canvas id="sessionsLineChart"></canvas>
                </div>
                <div class="card-footer">
                    <div class="col-md-12 mb-3">
                        <label for="startDate">Start Date:</label>
                        <input type="date" id="startDate2" class="form-control">
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="endDate">End Date:</label>
                        <input type="date" id="endDate2" class="form-control">
                    </div>
                    <div class="col-md-12">
                        <button id="runReportSessions" class="btn btn-primary">Run Report</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sets Line Chart Card-->
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-header">Sets Bar Chart</div>
                <div class="card-body justify-content-center">
                    <canvas id="setsLineChart"></canvas>
                </div>
                <div class="card-footer">
                    <div class="col-md-12 mb-3">
                        <label for="startDate">Start Date:</label>
                        <input type="date" id="startDate3" class="form-control">
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="endDate">End Date:</label>
                        <input type="date" id="endDate3" class="form-control">
                    </div>
                    <div class="col-md-12">
                        <button id="runReportSets" class="btn btn-primary">Run Report</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- store URL for get exercises LedgerControlerr method -->
<div id="chartDataUrl" data-url="@Url.Action("GetExercisesPiechart", "Ledger")" style="display:none;"></div>
<div id="sessionDataUrl" data-url="@Url.Action("GetSessionsLinechart", "Ledger")" style="display:none;"></div>
<div id="setsDataUrl" data-url="@Url.Action("GetSetsBarchart", "Ledger")" style="display:none;"></div>