
@{
    ViewBag.Title = "Ledger";
}


<ul>
    <li>
        <a href="@Url.Action("AddExercise", "Ledger")">Add Exercise</a>
    </li>
    <li>
        <a href="@Url.Action("Exercises", "Ledger")">View your Exercises</a>
    </li>
    <li>
        <a href="@Url.Action("AddSession", "Ledger")">Add Session</a>
    </li>
    <li>
        <a href="@Url.Action("Sessions", "Ledger")">View your Sessions</a>
    </li>
</ul>

<div class="container mt-4">
    <div class="row">
        <!-- Exercises Pie Chart Card -->
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-header">
                    Exercises Pie Chart
                </div>
                <div class="card-body">
                    <canvas id="exercisesPieChart"></canvas>
                </div>
                <div class="card-footer">
                    <div class="col-md-12 mb-3">
                        <label for="startDate">Start Date:</label>
                        <input type="date" id="startDate" class="form-control">
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="endDate">End Date:</label>
                        <input type="date" id="endDate" class="form-control">
                    </div>
                    <div class="col-md-12">
                        <button id="runReportExercises" class="btn btn-primary">Run Report</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sessions Line Chart Card-->
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-header">Sessions Line Chart</div>
                <div class="card-body">
                    <canvas id="sessionsLineChart"></canvas>
                </div>
                <div class="card-footer">
                    <div class="col-md-12 mb-3">
                        <label for="startDate">Start Date:</label>
                        <input type="date" id="startDate" class="form-control">
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="endDate">End Date:</label>
                        <input type="date" id="endDate" class="form-control">
                    </div>
                    <div class="col-md-12">
                        <button id="runReportSessions" class="btn btn-primary">Run Report</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- store URL for get exercises LedgerControlerr method -->
<div id="chartDataUrl" data-url="@Url.Action("GetExercisesPiechart", "Ledger")" style="display:none;"></div>
<div id="sessionDataUrl" data-url="@Url.Action("GetSessionsLinechart", "Ledger")" style="display:none;"></div>