@model GymLedger.Views.Areas.Profile.ChangePasswordView

<div class="modal fade" id="modalModal" tabindex="-1" aria-labelledby="modalModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalModalLabel">Change Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "changePasswordForm" }))
                {
                    @Html.HiddenFor(u => u.UniqueId)
                    <div>
                        @Html.LabelFor(m => m.CurrentPassword)
                        @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CurrentPassword)
                    </div>
                    <div>
                        @Html.LabelFor(m => m.NewPassword)
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                    <div>
                        @Html.LabelFor(m => m.ConfirmNewPassword)
                        @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
                    </div>
                    <button type="submit" class="btn btn-primary mt-2">Submit</button>
                }
            </div>
        </div>
    </div>
</div>